{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1  style="color:yellow;"><b>ONLINE POLL MANAGER</h1>
                    
                <h2 style="color: yellow;">"All of us may have been created equal. But we'll never actually be equal
                    until we all vote. So don't wait." </h2>

                <h3 style="color: yellow;"><b>Your Voice Matters!</h3>
                <hr>
                <a style="color:red;" class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button"><b>Get Started !</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

